body {
    background-image: url('images/user 5.jpg');
    background-position: right top;
    background-attachment: fixed; 
    background-size: cover; 
    

h1 {
    text-align: center; 
